# Data Wrangling on Auralin Dataset

Auralin dataset is a fabricated clinical trial dataset for the purpose of demonstrating how to undertake a full data wrangling process systematically.

More information about the data...

- This dataset was constructed with the consultation of real doctors to ensure plausibility.
- This clinical trial data for an alternative insulin was inspired and closely mimics this real [clinical trial for a new inhaled insulin called Afrezza](http://care.diabetesjournals.org/content/38/12/2266.long).
- The data quality issues in this dataset mimic real, [common data quality issues in healthcare data](http://media.hypersites.com/clients/1446/filemanager/Articles/DocCenter_Problem_with_data.pdf). These issues impact quality of care, patient registration, and revenue.
- The patients in this dataset were created using this [fake name generator](http://www.fakenamegenerator.com/order.php) and do not include real names, addresses, phone numbers, emails, etc.

---

## Assess

- Visualize by scrolling
- Visualize by programming

In [1]:
pwd

'/Users/alejandrosanz/Downloads'

In [2]:
import os 
os.chdir('projects_on_GitHub/data_wrangling/diabetes_data_wrangling')

In [4]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

In [10]:
patients.head(50)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
30,31,female,Janina,Bazarova,3259 Roy Alley,Englewood,CO,80112.0,United States,303-910-2058JaninaBazarova@superrito.com,6/29/1964,156.9,65,26.1
31,32,male,Tomáš,Navrátil,4870 Corbin Branch Road,Bluff City,TN,37618.0,United States,423-538-4887TomasNavratil@dayrep.com,4/8/1935,133.3,70,19.1
32,33,female,Một,Phạm,2690 Pin Oak Drive,Long Beach,CA,90815.0,United States,PhamThiBichMot@dayrep.com562-985-4582,1/30/1997,147.6,69,21.8
33,34,male,Habte,Kifle,2055 Emeral Dreams Drive,Dekalb,Illinois,60115.0,United States,815-270-7770HabteKifle@fleckens.hu,1/20/1946,153.8,72,20.9
34,35,female,Mariana,Souza,577 Chipmunk Lane,Orrington,ME,4474.0,United States,207-825-8634MarianaGomesSouza@superrito.com,3/6/1948,152.9,63,27.1
35,36,female,Kamila,Pecinová,3558 Longview Avenue,New York,New York,10004.0,United States,718-501-0503KamilaPecinova@dayrep.com,12/23/1985,198.9,62,36.4
36,37,female,Naja,Enoksen,2915 Lynn Avenue,Eau Claire,WI,54701.0,United States,NajaEnoksen@fleckens.hu715-562-7013,11/26/1931,156.4,66,25.2
37,38,female,Albinca,Komavec,1257 Elsie Drive,Huron,SD,57350.0,United States,AlbincaKomavec@rhyta.com+1 (605) 204-6572,6/5/1986,189.9,66,30.6
38,39,female,Genet,Fesahaye,4649 Joanne Lane,Westborough,MA,1581.0,United States,GenetFesahaye@armyspy.com1 978 460 9060,1/11/1954,111.8,67,17.5
39,40,female,Ganimete,Ščančar,4105 Ferguson Street,Walpole,MA,2081.0,United States,508-454-2027GanimeteScancar@cuvox.de,10/25/1947,191.6,67,30.0
40,41,male,Tješimir,Lukić,3636 Junior Avenue,Atlanta,GA,30303.0,United States,TjesimirLukic@jourrapide.com1 404 547 4508,10/24/1941,147.8,70,21.2
41,42,male,Fakhri,Fakhoury,155 Red Hawk Road,Danube,MN,56230.0,United States,FakhriHaniFakhoury@cuvox.de320-826-3340,11/4/1979,143.0,66,23.1
42,43,female,Mizuki,Iwata,3434 Holt Street,West Palm Beach,FL,33409.0,United States,MizukiIwata@gustr.com561-357-0702,6/30/1927,199.1,61,37.6
43,44,female,Zizi,Schmitt,669 Archwood Avenue,Mountain View,WY,82939.0,United States,SchmittZizi@fleckens.hu1 307 712 0508,2/9/1968,198.9,67,31.1
44,45,female,Blanka,Jurković,3165 Upton Avenue,Waterville,ME,4901.0,United States,BlankaJurkovic@superrito.com1 207 861 4587,1/26/1923,129.8,66,20.9
45,46,female,Liisa,Seppälä,1012 Lords Way,Adamsville,TN,38310.0,United States,LiisaSeppala@einrot.com1 731 632 2908,2/15/1930,157.7,63,27.9
46,47,male,Javier,Moquin,1808 Stuart Street,Pittsburgh,PA,15201.0,United States,724-419-3583JavierMoquin@rhyta.com,8/7/1941,163.9,72,22.2
47,48,female,Ana,Correia,1495 Post Farm Road,Atlanta,GA,30337.0,United States,404-289-1766AnaSousaCorreia@rhyta.com,11/4/1962,186.6,65,31.0
48,49,female,Annika,Vaara,4853 University Drive,Lombard,IL,60148.0,United States,AnnikaVaara@rhyta.com312-719-7238,2/20/1996,109.1,67,17.1
49,50,female,Vivien,Zsinkó,4141 Davis Place,Maumee,OH,43537.0,United States,419-262-6953ZsinkoVivien@teleworm.us,3/6/1974,113.3,64,19.4

In [14]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

In [66]:
treatments.melt( value_vars=['auralin', 'novodra'], var_name='type', value_name='vals')

        type       vals
0    auralin  41u - 48u
1    auralin          -
2    auralin          -
3    auralin  33u - 36u
4    auralin          -
5    auralin          -
6    auralin  37u - 42u
7    auralin  31u - 38u
8    auralin          -
9    auralin  30u - 36u
10   auralin  29u - 36u
11   auralin          -
12   auralin  29u - 38u
13   auralin          -
14   auralin  27u - 37u
15   auralin  55u - 68u
16   auralin  28u - 37u
17   auralin          -
18   auralin          -
19   auralin          -
20   auralin          -
21   auralin  29u - 39u
22   auralin  53u - 60u
23   auralin          -
24   auralin  31u - 41u
25   auralin          -
26   auralin          -
27   auralin          -
28   auralin  42u - 51u
29   auralin  42u - 49u
30   auralin  35u - 39u
31   auralin          -
32   auralin          -
33   auralin          -
34   auralin  47u - 58u
35   auralin          -
36   auralin  45u - 48u
37   auralin  24u - 37u
38   auralin  44u - 55u
39   auralin          -
40   auralin          -
41   auralin          -
42   auralin  37u - 43u
43   auralin          -
44   auralin  43u - 47u
45   auralin          -
46   auralin  36u - 42u
47   auralin          -
48   auralin          -
49   auralin          -
50   auralin          -
51   auralin  29u - 37u
52   auralin  57u - 64u
53   auralin          -
54   auralin  54u - 67u
55   auralin  34u - 42u
56   auralin          -
57   auralin          -
58   auralin  29u - 37u
59   auralin  61u - 67u
60   auralin  37u - 46u
61   auralin  30u - 39u
62   auralin          -
63   auralin  39u - 46u
64   auralin  24u - 32u
65   auralin          -
66   auralin  32u - 42u
67   auralin          -
68   auralin          -
69   auralin  25u - 32u
70   auralin          -
71   auralin          -
72   auralin          -
73   auralin  36u - 46u
74   auralin          -
75   auralin          -
76   auralin          -
77   auralin          -
78   auralin  35u - 40u
79   auralin  27u - 36u
80   auralin          -
81   auralin  43u - 49u
82   auralin  33u - 41u
83   auralin          -
84   auralin  30u - 41u
85   auralin  42u - 49u
86   auralin          -
87   auralin  31u - 45u
88   auralin          -
89   auralin  44u - 55u
90   auralin  34u - 42u
91   auralin          -
92   auralin          -
93   auralin          -
94   auralin          -
95   auralin  39u - 45u
96   auralin          -
97   auralin          -
98   auralin  25u - 31u
99   auralin          -
100  auralin          -
101  auralin          -
102  auralin          -
103  auralin          -
104  auralin  53u - 64u
105  auralin          -
106  auralin          -
107  auralin          -
108  auralin          -
109  auralin  41u - 47u
110  auralin          -
111  auralin          -
112  auralin  39u - 52u
113  auralin  39u - 43u
114  auralin          -
115  auralin  32u - 41u
116  auralin  36u - 44u
117  auralin          -
118  auralin  46u - 58u
119  auralin  36u - 47u
120  auralin  41u - 51u
121  auralin  42u - 48u
122  auralin  50u - 60u
123  auralin          -
124  auralin          -
125  auralin  48u - 60u
126  auralin          -
127  auralin          -
128  auralin          -
129  auralin  63u - 68u
130  auralin          -
131  auralin          -
132  auralin  30u - 38u
133  auralin          -
134  auralin          -
135  auralin  31u - 40u
136  auralin  29u - 36u
137  auralin          -
138  auralin          -
139  auralin  29u - 45u
140  auralin          -
141  auralin  54u - 54u
142  auralin          -
143  auralin  55u - 59u
144  auralin  24u - 32u
145  auralin  46u - 53u
146  auralin  55u - 61u
147  auralin          -
148  auralin          -
149  auralin  29u - 37u
150  auralin  55u - 66u
151  auralin  40u - 53u
152  auralin  39u - 44u
153  auralin          -
154  auralin          -
155  auralin          -
156  auralin          -
157  auralin          -
158  auralin          -
159  auralin  48u - 58u
160  auralin  47u - 57u
161  auralin  40u - 42u
162  auralin  32u - 42u
163  auralin  44u - 54u
164  auralin  62u - 75u
165  auralin  37u - 46u
166  auralin  36u - 42u
167  auralin  49u - 58u
168  auralin  44u - 53u
169  auralin  41u - 52u
170  auralin  33u - 39u
171  auralin  24u - 34u
172  auralin          -
173  auralin  22u - 30u
174  auralin  58u - 69u
175  auralin  35u - 45u
176  auralin  40u - 47u
177  auralin  48u - 55u
178  auralin  41u - 50u
179  auralin  53u - 57u
180  auralin  27u - 33u
181  auralin          -
182  auralin          -
183  auralin          -
184  auralin  31u - 42u
185  auralin          -
186  auralin          -
187  auralin          -
188  auralin          -
189  auralin  42u - 56u
190  auralin          -
191  auralin          -
192  auralin          -
193  auralin  37u - 44u
194  auralin          -
195  auralin  38u - 45u
196  auralin  51u - 60u
197  auralin          -
198  auralin  38u - 45u
199  auralin          -
200  auralin  43u - 51u
201  auralin          -
202  auralin          -
203  auralin          -
204  auralin  49u - 55u
205  auralin          -
206  auralin          -
207  auralin  55u - 60u
208  auralin          -
209  auralin  37u - 43u
210  auralin  39u - 50u
211  auralin  31u - 38u
212  auralin  35u - 38u
213  auralin          -
214  auralin  44u - 54u
215  auralin          -
216  auralin          -
217  auralin  41u - 50u
218  auralin          -
219  auralin          -
220  auralin  27u - 39u
221  auralin          -
222  auralin  25u - 35u
223  auralin  52u - 61u
224  auralin  47u - 50u
225  auralin          -
226  auralin          -
227  auralin  33u - 39u
228  auralin  26u - 35u
229  auralin  51u - 58u
230  auralin          -
231  auralin  48u - 59u
232  auralin          -
233  auralin  32u - 43u
234  auralin          -
235  auralin          -
236  auralin  40u - 49u
237  auralin  55u - 62u
238  auralin          -
239  auralin          -
240  auralin          -
241  auralin          -
242  auralin          -
243  auralin          -
244  auralin  31u - 37u
245  auralin          -
246  auralin  24u - 36u
247  auralin  51u - 59u
248  auralin  39u - 47u
249  auralin          -
250  auralin          -
251  auralin          -
252  auralin          -
253  auralin  35u - 43u
254  auralin          -
255  auralin  48u - 54u
256  auralin  42u - 50u
257  auralin          -
258  auralin          -
259  auralin          -
260  auralin          -
261  auralin          -
262  auralin  51u - 62u
263  auralin  53u - 63u
264  auralin          -
265  auralin          -
266  auralin  42u - 54u
267  auralin          -
268  auralin          -
269  auralin          -
270  auralin  34u - 43u
271  auralin          -
272  auralin          -
273  auralin  36u - 39u
274  auralin  43u - 50u
275  auralin  45u - 51u
276  auralin          -
277  auralin  23u - 36u
278  auralin  31u - 38u
279  auralin  53u - 56u
280  novodra          -
281  novodra  40u - 45u
282  novodra  39u - 36u
283  novodra          -
284  novodra  33u - 29u
285  novodra  42u - 44u
286  novodra          -
287  novodra          -
288  novodra  54u - 54u
289  novodra          -
290  novodra          -
291  novodra  36u - 38u
292  novodra          -
293  novodra  47u - 45u
294  novodra          -
295  novodra          -
296  novodra          -
297  novodra  36u - 36u
298  novodra  49u - 46u
299  novodra  54u - 54u
300  novodra  47u - 48u
301  novodra          -
302  novodra          -
303  novodra  43u - 47u
304  novodra          -
305  novodra  44u - 43u
306  novodra  49u - 47u
307  novodra  45u - 46u
308  novodra          -
309  novodra          -
310  novodra          -
311  novodra  48u - 45u
312  novodra  43u - 40u
313  novodra  40u - 31u
314  novodra          -
315  novodra  35u - 29u
316  novodra          -
317  novodra          -
318  novodra          -
319  novodra  32u - 27u
320  novodra  29u - 30u
321  novodra  44u - 43u
322  novodra          -
323  novodra  36u - 32u
324  novodra          -
325  novodra  31u - 31u
326  novodra          -
327  novodra  38u - 41u
328  novodra  38u - 38u
329  novodra  42u - 42u
330  novodra  41u - 39u
331  novodra          -
332  novodra          -
333  novodra  33u - 31u
334  novodra          -
335  novodra          -
336  novodra  41u - 39u
337  novodra  42u - 41u
338  novodra          -
339  novodra          -
340  novodra          -
341  novodra          -
342  novodra  19u - 27u
343  novodra          -
344  novodra          -
345  novodra  41u - 36u
346  novodra          -
347  novodra  36u - 37u
348  novodra  43u - 42u
349  novodra          -
350  novodra  51u - 48u
351  novodra  53u - 55u
352  novodra  44u - 49u
353  novodra          -
354  novodra  29u - 32u
355  novodra  44u - 43u
356  novodra  32u - 31u
357  novodra  38u - 41u
358  novodra          -
359  novodra          -
360  novodra  37u - 35u
361  novodra          -
362  novodra          -
363  novodra  36u - 38u
364  novodra          -
365  novodra          -
366  novodra  44u - 45u
367  novodra          -
368  novodra  34u - 32u
369  novodra          -
370  novodra          -
371  novodra  40u - 39u
372  novodra  37u - 35u
373  novodra  57u - 57u
374  novodra  40u - 36u
375  novodra          -
376  novodra  54u - 50u
377  novodra  43u - 38u
378  novodra          -
379  novodra  38u - 39u
380  novodra  37u - 36u
381  novodra  35u - 30u
382  novodra  41u - 40u
383  novodra  56u - 58u
384  novodra          -
385  novodra  31u - 30u
386  novodra  35u - 29u
387  novodra  46u - 43u
388  novodra  52u - 50u
389  novodra          -
390  novodra  26u - 25u
391  novodra  51u - 55u
392  novodra          -
393  novodra          -
394  novodra  32u - 27u
395  novodra          -
396  novodra          -
397  novodra  30u - 32u
398  novodra          -
399  novodra          -
400  novodra          -
401  novodra          -
402  novodra          -
403  novodra  36u - 37u
404  novodra  48u - 47u
405  novodra          -
406  novodra  22u - 23u
407  novodra  50u - 50u
408  novodra  33u - 34u
409  novodra          -
410  novodra  54u - 51u
411  novodra  41u - 39u
412  novodra          -
413  novodra  31u - 29u
414  novodra  34u - 37u
415  novodra          -
416  novodra          -
417  novodra  41u - 41u
418  novodra  23u - 21u
419  novodra          -
420  novodra  39u - 37u
421  novodra          -
422  novodra  40u - 39u
423  novodra          -
424  novodra          -
425  novodra          -
426  novodra          -
427  novodra  60u - 60u
428  novodra  35u - 33u
429  novodra          -
430  novodra          -
431  novodra          -
432  novodra          -
433  novodra  59u - 56u
434  novodra  49u - 46u
435  novodra  39u - 36u
436  novodra  42u - 41u
437  novodra  35u - 39u
438  novodra  41u - 44u
439  novodra          -
440  novodra          -
441  novodra          -
442  novodra          -
443  novodra          -
444  novodra          -
445  novodra          -
446  novodra          -
447  novodra          -
448  novodra          -
449  novodra          -
450  novodra          -
451  novodra          -
452  novodra  48u - 50u
453  novodra          -
454  novodra          -
455  novodra          -
456  novodra          -
457  novodra          -
458  novodra          -
459  novodra          -
460  novodra          -
461  novodra  32u - 30u
462  novodra  41u - 38u
463  novodra  34u - 34u
464  novodra          -
465  novodra  28u - 31u
466  novodra  36u - 32u
467  novodra  38u - 40u
468  novodra  26u - 30u
469  novodra          -
470  novodra  34u - 41u
471  novodra  49u - 46u
472  novodra  31u - 36u
473  novodra          -
474  novodra  23u - 23u
475  novodra          -
476  novodra          -
477  novodra  58u - 58u
478  novodra          -
479  novodra  32u - 31u
480  novodra          -
481  novodra  41u - 38u
482  novodra  50u - 57u
483  novodra  40u - 40u
484  novodra          -
485  novodra  39u - 44u
486  novodra  29u - 24u
487  novodra          -
488  novodra  43u - 42u
489  novodra          -
490  novodra          -
491  novodra          -
492  novodra          -
493  novodra  49u - 50u
494  novodra          -
495  novodra  46u - 49u
496  novodra  30u - 32u
497  novodra          -
498  novodra  26u - 24u
499  novodra  30u - 32u
500  novodra          -
501  novodra  44u - 40u
502  novodra          -
503  novodra          -
504  novodra          -
505  novodra  43u - 48u
506  novodra  37u - 30u
507  novodra          -
508  novodra          -
509  novodra          -
510  novodra  51u - 47u
511  novodra          -
512  novodra  27u - 29u
513  novodra          -
514  novodra  42u - 44u
515  novodra  30u - 29u
516  novodra          -
517  novodra          -
518  novodra  31u - 32u
519  novodra  48u - 53u
520  novodra  42u - 40u
521  novodra  28u - 24u
522  novodra  51u - 54u
523  novodra  47u - 39u
524  novodra          -
525  novodra  47u - 48u
526  novodra          -
527  novodra          -
528  novodra          -
529  novodra  39u - 36u
530  novodra  56u - 57u
531  novodra  42u - 38u
532  novodra  40u - 39u
533  novodra          -
534  novodra  39u - 36u
535  novodra          -
536  novodra          -
537  novodra  27u - 28u
538  novodra  43u - 46u
539  novodra  31u - 31u
540  novodra  26u - 23u
541  novodra  50u - 54u
542  novodra          -
543  novodra          -
544  novodra  41u - 39u
545  novodra  27u - 29u
546  novodra          -
547  novodra  38u - 32u
548  novodra  51u - 54u
549  novodra  47u - 46u
550  novodra          -
551  novodra  30u - 33u
552  novodra  41u - 43u
553  novodra          -
554  novodra          -
555  novodra          -
556  novodra  49u - 49u
557  novodra          -
558  novodra          -
559  novodra          -

In [7]:
adverse_reactions

     given_name     surname           adverse_reaction
0         berta  napolitani  injection site discomfort
1          lena        baer               hypoglycemia
2        joseph         day               hypoglycemia
3        flavia  fiorentino                      cough
4       manouck     wubbels          throat irritation
5       jasmine       sykes               hypoglycemia
6        louise     johnson               hypoglycemia
7       albinca     komavec               hypoglycemia
8           noe      aranda               hypoglycemia
9         sofia   hermansen  injection site discomfort
10        tegan     johnson                   headache
11         abel     yonatan                      cough
12    abdul-nur         isa               hypoglycemia
13         leon      scholz  injection site discomfort
14     gabriele     saenger               hypoglycemia
15       jia li        teng                     nausea
16        jakob    jakobsen               hypoglycemia
17  christopher    woodward                     nausea
18          ole    petersen               hypoglycemia
19       finley    chandler                   headache
20     anenechi       chidi               hypoglycemia
21     miłosław  wiśniewski  injection site discomfort
22        lixue       hsueh  injection site discomfort
23        merci      leroux               hypoglycemia
24         kang         mai  injection site discomfort
25       elliot  richardson               hypoglycemia
26      clinton      miller          throat irritation
27       idalia       moore               hypoglycemia
28       xiuxiu       chang               hypoglycemia
29         alex    crawford               hypoglycemia
30       monika      lončar               hypoglycemia
31       steven         roy                   headache
32      cecilie      nilsen               hypoglycemia
33    krisztina      magyar               hypoglycemia

In [8]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [9]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [26]:
pd.set_option('display.max_rows', None)
patients.surname.value_counts()

Doe                  6
Jakobsen             3
Taylor               3
Aranda               2
Dratchev             2
Liễu                 2
Hueber               2
Schiavone            2
Berg                 2
Kadyrov              2
Souza                2
Woźniak              2
Tạ                   2
Lương                2
Lâm                  2
Correia              2
Cabrera              2
Tucker               2
Gersten              2
Nilsen               2
Bùi                  2
Collins              2
Ogochukwu            2
Lund                 2
Batukayev            2
Silva                2
Johnson              2
Parker               2
Cindrić              2
Grímsdóttir          2
Kowalczyk            2
Ščančar              1
Maríasson            1
Heimisson            1
Petersen             1
Tománková            1
Bogolyubova          1
Nowakowski           1
Pecinová             1
Priest               1
Eldarkhanov          1
Nyborg               1
Knutsen              1
Jephcott             1
Radislav             1
Christie             1
McKay                1
Resanovič            1
Aličajić             1
Werner               1
Mobourne             1
Yuan                 1
Kishiev              1
Hyypiä               1
Andreyeva            1
Afamefuna            1
Tsukada              1
Laatikainen          1
Filípek              1
Lei                  1
Haugen               1
Rap                  1
Lombardi             1
Sheppard             1
Eidem                1
McIntosh             1
Shuler               1
Smith                1
Markus               1
Wiśniewska           1
Salib                1
Harold               1
Scheltens            1
Russo                1
Allen                1
Bole                 1
Lorenzo              1
Karjalainen          1
Barsukov             1
Onwughara            1
Blix                 1
Wong                 1
Chang                1
Hrafnsdóttir         1
Ziegler              1
Moquin               1
Þráinsson            1
Synek                1
Higa                 1
Naifeh               1
Vaara                1
Tromp                1
Guðjónsdóttir        1
Uspenskaya           1
Pinto                1
Phan                 1
Su                   1
Kelly                1
Afanasyeva           1
Žibrik               1
Német                1
Fejes                1
Sokołowska           1
Mai                  1
Gunnarsson           1
Nebeolisa            1
Galvez               1
Herczegh             1
Hrdá                 1
Nakayama             1
Izmailov             1
Michalčíková         1
Sørensen             1
Walczak              1
Kung                 1
Guðbrandsson         1
Ghanem               1
Ono                  1
Chinedum             1
Mattila              1
Dimmen               1
Freud                1
Koldenhof            1
Baer                 1
Addison              1
Sauvé                1
Dandonneau           1
Ekwueme              1
Cotton               1
Mueller              1
Ingason              1
Horikawa             1
Barlow               1
Quintanilla          1
Nnonso               1
Jackson              1
Yudina               1
Montagu              1
Schmitt              1
Hsueh                1
Onyekaozulu          1
Efrem                1
Cabán                1
Fodor                1
Maslov               1
Antoun               1
Sandgreen            1
Pérez                1
Vaneker              1
Lange                1
Gomes                1
Rokavc               1
Nucci                1
She                  1
Peters               1
Grubišić             1
Komavec              1
Miranda              1
Svensson             1
Neudorf              1
Írisarson            1
Pak                  1
Bubanj               1
Tryggvadóttir        1
Ehrlichmann          1
Morita               1
Kristiansen          1
Galić                1
Hervinsson           1
Vestergaard          1
Chin                 1
Wellish              1
Ek                   1
Bazarova             1
Grunewald            1
Konovšek             1
Authier              1
Lukić                1
Baum                 1
Ekechukwu            1
Borgen               1
Lindström            1
Henzen               1
O'Brian              1
Compagnon            1
Koffeman             1
Balagić              1
Nielsen              1
Tobeolisa            1
Miles                1
Mata                 1
Haraguchi            1
﻿Dvořák              1
Enoksen              1
Hsu                  1
Gegič                1
Crawford             1
Grant                1
Villalpando          1
Beauvais             1
Allaire              1
Sakai                1
Ribeiro              1
Zimmerman            1
Ch'eng               1
Fomin                1
Holden               1
Day                  1
Luman                1
Chandler             1
Oates                1
Mathiesen            1
Osman                1
Mehari               1
Kristensen           1
Jørgensen            1
Piirainen            1
Seppälä              1
Enríquez             1
Rushisvili           1
Luoma                1
Hughes               1
Miller               1
Leroux               1
Halldórsdóttir       1
Alanis               1
Zaitseva             1
Yonatan              1
Martinsson           1
Vesecká              1
Bois                 1
Ibeamaka             1
Boyles               1
Bidwill              1
Jindrová             1
de Keizer            1
Lavrentyev           1
Majewski             1
Koivunen             1
Pospíšil             1
Wolf                 1
Lucchese             1
Araujo               1
Carvalho             1
Abdulov              1
Guzman               1
Cumpston             1
Webb                 1
Chung                1
Guerra               1
Madrid               1
Østergaard           1
Musliyevich          1
Frederiksen          1
Stanić               1
Teichelmann          1
Yao                  1
Nørgaard             1
Tar                  1
Andersen             1
Fujiwara             1
Christensen          1
Reynoso              1
Lillebø              1
Wagner               1
Klobučar             1
MacDonald            1
Macleod              1
Mensa                1
Sykes                1
Mansour              1
Kifle                1
Adams                1
Lundy                1
Debord               1
Czerwinska           1
Tuma                 1
Petrussen            1
Ibragimov            1
Brodahl              1
Tomaszewski          1
Adamski              1
Wiśniewski           1
Wieczorek            1
Azuma                1
Abraham              1
Heilmann             1
Labrosse             1
Chidi                1
Touma                1
McGregor             1
Totth                1
Jensen               1
Casárez              1
Iwata                1
Flamand              1
Scholz               1
Phạm                 1
Kalb                 1
Clapp                1
Fiorentino           1
Saenger              1
Štěpánek             1
Tikhonov             1
Skarphéðinsdóttir    1
Bisliev              1
Terrazas             1
Olofsson             1
Glaser               1
Wysocki              1
Moore                1
Solberg              1
Györfy               1
Lončar               1
Laine                1
Mehler               1
Jakšić               1
Fisher               1
Takenaka             1
Vũ                   1
Arsanukayev          1
Montez               1
Ménard               1
Ferguson             1
Cain                 1
Nicholls             1
Gyenes               1
Geisler              1
Wubbels              1
Bjarkason            1
Kinfe                1
Napolitani           1
Okoli                1
Cunha                1
Isa                  1
Filatov              1
Mikkelsen            1
Mancini              1
Rukavina             1
Martinsen            1
Schneider            1
Thạch                1
Grabljevec           1
Kašná                1
Novosel              1
Nordin               1
Uspensky             1
Prince               1
Luwam                1
Polak                1
Woldendorp           1
Sultygov             1
Hill                 1
Ferrari              1
Hansen               1
Kozłowska            1
Endrizzi             1
Quynh                1
Bonami               1
van der Lubbe        1
Bowden               1
Henriksen            1
Mironov              1
Woodward             1
Shishani             1
Teng                 1
Rosario              1
Fakhoury             1
Herman               1
Poulsen              1
Horvat               1
Bouw                 1
Asfour               1
Karlsen              1
Tansey               1
Leppäluoto           1
Csorba               1
Roy                  1
Šlezinger            1
Sjöberg              1
Rice                 1
Citizen              1
Khoury               1
Obinna               1
Achebe               1
Brhane               1
Gormanston           1
Edwards              1
Nakahara             1
Lynge                1
Richardson           1
Villadsen            1
Nebay                1
Bilodeau             1
Allan                1
Milne                1
Carreiro             1
Gaber                1
Šubrtová             1
Traustadóttir        1
Mustafa              1
Rocha                1
Fesahaye             1
Zetticci             1
House                1
Löfgren              1
Hopkins              1
Pecha                1
Tabata               1
Miramontes           1
Onio                 1
Murakami             1
Sung                 1
Hermansen            1
Dreher               1
Rahal                1
Navrátil             1
Csonka               1
Baumgaertner         1
Holm                 1
Sleiman              1
Adonay               1
Lansell              1
Isaksson             1
Eskelinen            1
Zsinkó               1
Hori                 1
Lê                   1
Ouwendijk            1
Bakos                1
Jurković             1
Kos                  1
Amari                1
Ruais                1
Combs                1
van de Wiel          1
Gustafsson           1
Lindgren             1
Glockner             1
Hunter               1
Marchesi             1
Johnsrud             1
Amanuel              1
Archer               1
Vieira               1
Wilkinson            1
Vukelić              1
Sági                 1
Wolfe                1
Selassie             1
Fournier             1
Zhdanov              1
Knudsen              1
Mayberry             1
Nash                 1
Udinesi              1
Magyar               1
Azevedo              1
Reilly               1
Ko                   1
Mortensen            1
Costa                1
Koivuniemi           1
Mathieu              1
Ferreira             1
Gibson               1
Name: surname, dtype: int64

In [27]:
patients.address.value_counts()

123 Main Street                  6
2778 North Avenue                2
2476 Fulton Street               2
648 Old Dear Lane                2
2121 Liberty Avenue              1
4155 Raccoon Run                 1
4105 Ferguson Street             1
4988 Lynn Street                 1
3488 Clair Street                1
570 Alpha Avenue                 1
1934 August Lane                 1
34 Hamill Avenue                 1
2886 Straford Park               1
1846 Joseph Street               1
2566 Ingram Street               1
3479 Elm Drive                   1
3781 Hamill Avenue               1
707 Goodwin Avenue               1
2687 Black Oak Hollow Road       1
1810 Hardesty Street             1
2531 Eastland Avenue             1
373 Fantages Way                 1
1962 Cabell Avenue               1
1027 Tenmile Road                1
4500 Myra Street                 1
2020 Gore Street                 1
4141 Davis Place                 1
3650 Graystone Lakes             1
4168 Coventry Court              1
3130 Jessie Street               1
3958 Liberty Avenue              1
1271 Pretty View Lane            1
2972 Hillview Street             1
2691 Kessla Way                  1
4411 Libby Street                1
1956 Rosemont Avenue             1
1128 Jacobs Street               1
959 Heritage Road                1
1014 Locust Court                1
4789 Devils Hill Road            1
2043 Jadewood Drive              1
2152 Heritage Road               1
1079 Ingram Street               1
4277 Mutton Town Road            1
3268 Karen Lane                  1
3261 Desert Broom Court          1
284 Mudlick Road                 1
4943 Isaacs Creek Road           1
2661 Russell Street              1
383 Marion Street                1
2310 Overlook Drive              1
2324 Benson Street               1
3542 Robinson Court              1
1829 Bungalow Road               1
4795 Better Street               1
1350 Meadow Lane                 1
1424 Primrose Lane               1
677 Broad Street                 1
323 Platinum Drive               1
1147 Kelley Road                 1
1540 Overlook Drive              1
3636 Junior Avenue               1
4852 Rose Avenue                 1
4571 Walnut Hill Drive           1
1092 Deans Lane                  1
3113 Timber Ridge Road           1
2625 Romines Mill Road           1
4643 Reeves Street               1
3161 Fantages Way                1
3209 Crowfield Road              1
2126 Pearl Street                1
2011 Eastland Avenue             1
1207 Garfield Road               1
3214 Better Street               1
4853 University Drive            1
3008 Walkers Ridge Way           1
2270 Bel Meadow Drive            1
3300 Woodridge Lane              1
4556 Oakdale Avenue              1
669 Archwood Avenue              1
4213 Isaacs Creek Road           1
633 Better Street                1
2168 Butternut Lane              1
720 Tator Patch Road             1
1624 Rosebud Avenue              1
2074 Parrish Avenue              1
4192 Holly Street                1
901 Southern Street              1
3558 Longview Avenue             1
3314 Rocket Drive                1
385 Walnut Avenue                1
2421 Coal Road                   1
685 Duncan Avenue                1
995 Beechwood Avenue             1
208 Birch  Street                1
1067 Ray Court                   1
3920 Braxton Street              1
4380 Riverside Drive             1
2970 Forest Avenue               1
1275 Goldie Lane                 1
1370 Flint Street                1
3683 Gorby Lane                  1
1763 Williams Mine Road          1
4977 Arlington Avenue            1
4093 Smith Street                1
3710 Jerry Dove Drive            1
2831 Milford Street              1
1109 Beechwood Drive             1
2397 Bell Street                 1
1813 Lindale Avenue              1
4519 Sussex Court                1
954 Summit Park Avenue           1
4890 Devils Hill Road            1
4386 Camden Street               1
1782 New Creek Road              1
2146 Willow Greene Drive         1
2333 Hidden Pond Road            1
4310 Johnson Street              1
200 Hall Place                   1
3464 Big Indian                  1
4640 Windy Ridge Road            1
1774 George Avenue               1
2418 Smith Street                1
4148 Callison Lane               1
36 Heather Sees Way              1
3688 Glenview Drive              1
2549 Pearlman Avenue             1
3686 Meadowcrest Lane            1
1072 Bird Spring Lane            1
4982 Wood Street                 1
4386 Badger Pond Lane            1
1033 Wayside Lane                1
3063 School House Road           1
441 Tibbs Avenue                 1
2917 Golden Ridge Road           1
4941 Marion Drive                1
230 Lady Bug Drive               1
1812 Poplar Street               1
1251 Clarence Court              1
1341 Chatham Way                 1
4104 Kennedy Court               1
2246 Pheasant Ridge Road         1
2578 Tenmile                     1
3548 Hilltop Drive               1
1094 Jones Avenue                1
3417 Bassel Street               1
1742 Tea Berry Lane              1
4894 Chandler Hollow Road        1
3457 Bridge Avenue               1
3800 Tetrick Road                1
836 Dovetail Estates             1
1493 Randolph Street             1
962 George Street                1
1703 Everette Alley              1
718 Eden Drive                   1
649 Nutter Street                1
4040 Linda Street                1
1333 Comfort Court               1
3227 Park Avenue                 1
1012 Lords Way                   1
1778 Rodney Street               1
57 Norman Street                 1
1507 Woodlawn Drive              1
550 Mulberry Lane                1
3731 Swick Hill Street           1
321 Briercliff Road              1
510 Berry Street                 1
1990 Spring Avenue               1
2754 Westwood Avenue             1
3423 Burning Memory Lane         1
77 Juniper Drive                 1
1886 Bicetown Road               1
1330 Lincoln Street              1
430 Canis Heights Drive          1
1984 Counts Lane                 1
3641 Selah Way                   1
1510 Allison Avenue              1
1821 Virginia Street             1
1140 Willis Avenue               1
1495 Post Farm Road              1
4929 Raver Croft Drive           1
4220 Simpson Square              1
3613 Lodgeville Road             1
3977 Jail Drive                  1
4890 Abia Martin Drive           1
2836 Boring Lane                 1
2338 Virginia Street             1
4018 Poplar Avenue               1
522 Lamberts Branch Road         1
631 Isaacs Creek Road            1
4334 Black Oak Hollow Road       1
4038 Farland Street              1
2607 Water Street                1
2356 Myra Street                 1
2172 Lynn Street                 1
2704 Windy Ridge Road            1
288 Colony Street                1
4970 Heather Sees Way            1
1525 Crestview Terrace           1
990 Melville Street              1
632 Peaceful Lane                1
2103 Edington Drive              1
4111 Thunder Road                1
1257 Elsie Drive                 1
4870 Corbin Branch Road          1
2055 Emeral Dreams Drive         1
4992 Moonlight Drive             1
4839 North Avenue                1
1786 Gerald L. Bates Drive       1
1384 Dovetail Estates            1
3094 Oral Lake Road              1
3303 Anmoore Road                1
465 Southern Street              1
826 Broad Street                 1
1733 Blackwell Street            1
2127 Elk City Road               1
350 Ross Street                  1
3072 Braxton Street              1
4291 Patton Lane                 1
3141 Brentwood Drive             1
2063 Newton Street               1
272 Boone Crockett Lane          1
312 Jim Rosa Lane                1
3634 Lyon Avenue                 1
1589 Roosevelt Wilson Lane       1
2544 Worley Avenue               1
1790 Nutter Street               1
3574 Park Boulevard              1
1054 Zappia Drive                1
4851 Andy Street                 1
1386 Farland Street              1
602 Tator Patch Road             1
4649 Worley Avenue               1
4064 Marigold Lane               1
3411 Pyramid Valley Road         1
2915 Lynn Avenue                 1
1526 Tully Street                1
1690 Fannie Street               1
3543 Cherry Ridge Drive          1
2166 Tipple Road                 1
4143 Big Indian                  1
1619 Melm Street                 1
3893 Eva Pearl Street            1
4324 Oak Street                  1
2640 Sweetwood Drive             1
3538 Paul Wayne Haggerty Road    1
4945 Jarvis Street               1
2316 Ingram Road                 1
4019 Cerullo Road                1
994 Hill Croft Farm Road         1
3106 Evergreen Lane              1
2924 Stanley Avenue              1
4320 Rardin Drive                1
1826 Poplar Chase Lane           1
3539 Bottom Lane                 1
3073 Bedford Street              1
4278 Hart Country Lane           1
4535 Prospect Street             1
494 Clarksburg Park Road         1
3964 Walnut Avenue               1
3595 Stuart Street               1
2935 Diamond Cove                1
3450 Southern Street             1
1030 McDonald Avenue             1
325 Eastland Avenue              1
4380 Grim Avenue                 1
2881 Harter Street               1
4033 White Avenue                1
3084 Blue Spruce Lane            1
3788 Worthington Drive           1
2816 Ashford Drive               1
707 Gateway Avenue               1
1009 Felosa Drive                1
2645 Moore Avenue                1
1717 Vineyard Drive              1
3499 Baker Avenue                1
1168 Stout Street                1
989 Wayback Lane                 1
2386 Linda Street                1
666 Whiteman Street              1
4103 Musgrave Street             1
3816 Grand Avenue                1
1389 Nutters Barn Lane           1
3391 Marcus Street               1
2322 Grim Avenue                 1
4236 Beech Street                1
3165 Upton Avenue                1
2785 Norma Lane                  1
202 Ingram Street                1
3145 Sheila Lane                 1
1942 Harry Place                 1
1049 Park Boulevard              1
3730 Seth Street                 1
4784 Paul Wayne Haggerty Road    1
3343 Jefferson Street            1
2852 Irving Road                 1
3743 Wescam Court                1
2813 Frederick Street            1
4145 Fairfax Drive               1
1435 Limer Street                1
3995 Colonial Drive              1
2102 Geraldine Lane              1
4473 Church Street               1
4900 Philli Lane                 1
2621 Koontz Lane                 1
2687 Hinkle Deegan Lake Road     1
4435 Poe Road                    1
4271 Cherry Ridge Drive          1
4984 Hampton Meadows             1
2531 Cantebury Drive             1
353 Whaley Lane                  1
288 Smith Street                 1
3820 Terry Lane                  1
3662 Shinn Street                1
4102 Ritter Avenue               1
3945 Simons Hollow Road          1
4476 Center Street               1
2272 Williams Avenue             1
2272 Woodland Avenue             1
1536 John Daniel Drive           1
1160 Taylor Street               1
1975 Holden Street               1
3418 Tyler Avenue                1
1203 Benson Park Drive           1
2389 Rubaiyat Road               1
2641 Michael Street              1
2458 Broadway Avenue             1
4932 Goldleaf Lane               1
4223 Chestnut Street             1
2438 Shady Pines Drive           1
4346 Sussex Court                1
260 Derek Drive                  1
212 Tibbs Avenue                 1
3402 Kildeer Drive               1
1116 Dog Hill Lane               1
1428 Turkey Pen Lane             1
3868 Freed Drive                 1
4110 Capitol Avenue              1
3434 Holt Street                 1
2913 Rogers Street               1
3414 Franklin Avenue             1
1808 Stuart Street               1
4273 Deans Lane                  1
162 Brooklyn Street              1
550 Cliffside Drive              1
3006 Maple Court                 1
3234 Sardis Station              1
846 Copperhead Road              1
3857 Straford Park               1
1262 Deans Lane                  1
1736 Parrill Court               1
2595 Feathers Hooves Drive       1
909 Williams Avenue              1
3714 Ben Street                  1
1324 Duffy Street                1
4682 Science Center Drive        1
3115 May Street                  1
547 Weekley Street               1
2945 Ferguson Street             1
108 Griffin Street               1
1953 Rhapsody Street             1
4243 Hidden Meadow Drive         1
577 Chipmunk Lane                1
796 Eagle Street                 1
87 Wood Duck Drive               1
4508 Goldcliff Circle            1
1895 Hart Ridge Road             1
3210 Hickory Lane                1
2931 Romano Street               1
4237 Hamilton Drive              1
2784 Turkey Pen Road             1
3697 Drainer Avenue              1
944 Thrash Trail                 1
1854 Kyle Street                 1
1463 Martha Ellen Drive          1
2873 John Calvin Drive           1
377 Norman Street                1
3077 Colony Street               1
883 Oakwood Circle               1
1965 Crestview Manor             1
1865 Honeysuckle Lane            1
2403 Ripple Street               1
4230 Ridenour Street             1
3216 Lodgeville Road             1
2235 Catherine Drive             1
174 Lost Creek Road              1
513 Duck Creek Road              1
2808 Circle Drive                1
435 Pike Street                  1
3390 Hidden Meadow Drive         1
4458 Stark Hollow Road           1
1051 Bassell Avenue              1
3818 Strother Street             1
1493 Poling Farm Road            1
4262 Heron Way                   1
1179 Patton Lane                 1
1368 Yorkshire Circle            1
3652 Boone Crockett Lane         1
2335 Webster Street              1
3682 Stiles Street               1
4120 Thompson Drive              1
4438 Reeves Street               1
283 Simons Hollow Road           1
1373 Wilmar Farm Road            1
936 Lightning Point Drive        1
241 Freshour Circle              1
2957 Feathers Hooves Drive       1
4015 Juniper Drive               1
4814 Layman Court                1
2690 Pin Oak Drive               1
3688 Adonais Way                 1
4160 Pratt Avenue                1
155 Red Hawk Road                1
1231 Grim Avenue                 1
932 Memory Lane                  1
783 Callison Lane                1
1092 Farm Meadow Drive           1
1557 Byers Lane                  1
149 Marion Drive                 1
592 Rafe Lane                    1
4178 Despard Street              1
2370 University Hill Road        1
1270 Haul Road                   1
1614 Heather Sees Way            1
1753 Sherman Street              1
204 Rockwell Lane                1
1434 Oak Ridge Drive             1
1497 Hidden Meadow Drive         1
4792 Maud Street                 1
1731 Chandler Drive              1
4912 Hart Country Lane           1
456 Delaware Avenue              1
3180 Still Pastures Drive        1
3259 Roy Alley                   1
153 Fieldcrest Road              1
922 Chapmans Lane                1
3427 Gerald L. Bates Drive       1
4646 Highland View Drive         1
945 Maple Avenue                 1
1346 Nicholas Street             1
1815 Garrett Street              1
1043 Ventura Drive               1
115 Frank Avenue                 1
4720 Gordon Street               1
163 Hide A Way Road              1
2636 Benson Park Drive           1
2127 Columbia Mine Road          1
69 Mattson Street                1
206 Eagle Lane                   1
2775 Single Street               1
1403 Clousson Road               1
192 Patton Lane                  1
1845 Saint Marys Avenue          1
98 Freshour Circle               1
1463 Beechwood Avenue            1
1840 Millbrook Road              1
1343 Clair Street                1
479 Elmwood Avenue               1
4605 Hall Street                 1
943 Hickory Ridge Drive          1
475 Preston Street               1
142 Broad Street                 1
4707 Parkway Street              1
4567 Hazelwood Avenue            1
182 Cross Street                 1
2866 Myra Street                 1
2967 Prudence Street             1
664 Lyon Avenue                  1
3942 Jerome Avenue               1
576 Brown Bear Drive             1
2530 Victoria Court              1
1904 Granville Lane              1
4689 Briarhill Lane              1
2651 Black Oak Hollow Road       1
1066 Goosetown Drive             1
90 Meadow View Drive             1
2884 Elsie Drive                 1
1233 Liberty Avenue              1
4704 Edsel Road                  1
3251 Radio Park Drive            1
4649 Joanne Lane                 1
541 Green Hill Road              1
1240 Summit Park Avenue          1
Name: address, dtype: int64

In [56]:
patients.weight.sort_values()

210     48.8
459    102.1
335    102.7
74     103.2
317    106.0
171    106.5
51     107.1
270    108.1
198    108.5
48     109.1
478    109.6
141    110.2
38     111.8
438    112.0
14     112.0
235    112.2
307    112.4
191    112.6
408    113.1
49     113.3
326    114.0
338    114.1
253    117.0
321    118.4
168    118.8
1      118.8
350    119.0
207    119.2
265    120.0
341    120.3
208    121.2
0      121.7
467    122.1
218    122.2
225    122.3
404    123.0
397    123.4
424    123.6
483    123.9
306    124.1
278    124.3
120    124.5
363    124.7
185    125.1
423    125.2
419    126.1
494    126.3
232    126.9
214    126.9
342    127.2
280    128.5
184    128.9
256    128.9
17     129.1
422    129.4
44     129.8
206    129.8
377    130.0
181    130.2
354    130.2
309    130.7
22     130.7
213    131.1
143    131.1
62     131.1
268    132.0
359    132.2
362    132.2
454    132.7
187    133.1
31     133.3
56     133.8
57     134.0
163    134.2
345    134.2
458    134.2
430    135.7
379    136.0
353    136.8
389    136.8
126    137.1
440    137.3
437    137.7
154    137.7
258    137.9
100    137.9
97     138.2
502    138.2
84     138.2
202    138.4
381    138.4
416    138.6
378    138.8
73     139.3
241    139.7
448    139.9
343    140.6
169    140.6
54     141.0
304    141.5
452    142.1
463    142.1
271    142.3
158    142.8
186    143.0
41     143.0
292    143.0
179    143.0
209    143.4
116    143.7
323    143.9
94     144.1
26     144.8
176    145.2
388    145.2
89     145.4
267    145.6
110    146.1
6      146.3
249    146.5
32     147.6
174    147.8
40     147.8
356    148.3
414    148.7
372    149.2
159    149.4
382    149.6
287    149.6
68     149.8
491    149.8
303    149.8
417    150.0
59     150.0
320    150.3
456    150.5
53     150.5
69     150.6
142    150.9
331    150.9
211    151.2
115    151.4
328    151.8
429    152.1
290    152.3
449    152.5
387    152.7
34     152.9
135    152.9
20     153.1
476    153.3
330    153.8
33     153.8
433    154.4
436    154.4
481    154.7
301    154.7
67     154.9
411    154.9
134    154.9
462    154.9
319    154.9
173    155.1
497    155.1
286    155.3
472    155.3
233    155.3
29     155.8
24     155.8
371    156.0
36     156.4
407    156.6
30     156.9
139    156.9
188    157.1
297    157.3
45     157.7
7      158.0
400    158.2
275    158.6
264    158.6
60     159.1
470    159.5
294    159.7
132    159.9
447    160.4
92     160.6
285    160.8
465    160.8
358    160.8
412    161.3
464    161.3
349    161.5
409    161.7
316    162.1
393    162.4
380    162.4
77     162.6
318    162.8
175    163.2
460    163.5
413    163.5
64     163.7
194    163.7
8      163.9
46     163.9
336    164.8
368    165.0
102    165.0
488    165.0
421    165.0
324    165.2
230    165.9
360    165.9
109    166.1
466    166.1
346    166.3
259    166.5
107    167.0
446    167.2
103    167.6
212    168.1
93     168.1
495    168.1
199    168.3
272    168.7
383    168.7
361    169.0
442    169.0
216    170.1
289    170.1
149    170.5
127    170.7
145    170.9
500    171.2
138    171.2
311    171.4
82     171.4
86     171.4
224    171.4
196    171.6
263    171.8
112    172.0
325    172.5
201    172.5
329    172.7
156    172.9
435    173.8
333    174.2
427    174.7
269    175.2
473    175.3
137    175.6
406    175.6
484    175.8
27     175.8
114    176.2
180    176.2
501    176.9
340    176.9
87     176.9
189    177.1
2      177.8
172    177.8
153    177.8
410    178.0
308    178.9
293    179.1
136    179.3
277    180.0
295    180.0
251    180.0
237    180.0
215    180.0
229    180.0
244    180.0
384    180.2
205    180.6
401    180.6
445    180.8
25     180.8
498    181.1
296    181.1
344    181.1
390    181.3
248    181.3
195    181.3
221    181.3
453    181.3
300    181.5
474    181.5
298    182.2
117    182.2
394    182.2
355    182.6
347    183.3
220    183.5
480    183.5
405    183.5
366    183.5
80     183.7
16     183.9
5      183.9
79     183.9
157    184.6
492    184.6
71     184.8
432    185.2
146    185.9
200    186.1
284    186.3
228    186.6
426    186.6
396    186.6
47     186.6
375    186.8
266    187.0
255    187.1
238    187.2
489    187.2
357    187.9
227    187.9
313    188.5
425    188.5
192    188.8
305    189.0
226    189.4
37     189.9
76     190.1
369    190.5
312    190.7
443    191.0
367    191.0
147    191.4
108    191.4
39     191.6
90     192.3
4      192.3
299    192.5
490    192.7
471    192.7
203    192.7
261    192.7
63     193.2
155    193.2
123    193.2
78     193.4
164    193.6
310    193.6
398    193.8
434    193.8
262    194.0
496    194.0
98     194.3
66     194.3
288    194.5
468    194.7
9      194.7
75     195.1
493    195.1
160    195.1
450    195.4
70     195.6
334    195.8
58     196.0
348    197.1
178    197.1
351    197.6
240    198.0
391    198.0
148    198.4
165    198.7
35     198.9
43     198.9
42     199.1
10     199.3
234    199.5
133    199.5
236    199.8
365    200.0
254    200.4
104    200.6
376    200.8
279    200.8
420    200.9
402    201.5
302    201.5
15     201.5
162    201.7
52     202.0
18     202.2
128    202.2
451    202.2
223    202.4
274    202.6
455    203.1
129    203.3
85     203.5
125    203.5
177    203.7
193    203.9
291    203.9
113    204.2
242    205.3
95     205.3
245    206.1
250    206.1
282    206.1
392    206.1
131    206.1
260    206.4
28     206.6
415    206.8
386    207.7
183    207.7
19     208.8
337    209.4
81     209.4
461    209.7
167    209.7
374    210.8
247    211.0
122    211.0
96     211.4
486    211.4
444    211.6
243    211.9
65     211.9
119    211.9
315    211.9
314    212.1
477    212.1
399    212.1
152    212.2
364    212.3
99     212.5
190    213.0
370    214.1
281    214.1
140    214.1
475    214.4
239    214.5
72     214.5
327    214.7
83     214.7
273    214.9
418    215.2
170    215.4
124    215.6
457    215.8
217    216.5
373    216.9
55     217.6
231    217.8
130    217.8
322    218.5
91     218.7
403    219.1
151    219.6
431    219.9
106    219.9
479    220.0
482    220.0
469    220.4
3      220.9
385    221.8
105    222.0
204    222.6
23     222.9
276    223.1
197    223.1
161    223.5
21     223.7
332    224.0
252    224.2
12     224.2
222    224.8
166    225.3
111    225.9
101    226.2
150    226.6
352    227.7
428    227.7
88     227.7
13     228.4
339    229.0
182    230.3
121    230.8
257    231.7
395    231.9
246    232.1
219    237.8
11     238.7
50     238.9
441    239.1
499    239.6
439    242.0
487    242.4
144    244.9
61     244.9
283    245.5
118    254.5
485    255.9
Name: weight, dtype: float64

In [49]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [51]:
patients.address.duplicated().sum()

19

In [57]:
patients[patients.address.duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
282,283,female,Sandy,Taylor,2476 Fulton Street,Rainelle,WV,25962.0,United States,304-438-2648SandraCTaylor@dayrep.com,10/23/1960,206.1,64,35.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

In [59]:
patients[patients[['given_name', 'surname']].duplicated()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
229,230,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
237,238,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
244,245,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
251,252,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4
277,278,male,John,Doe,123 Main Street,New York,NY,12345.0,United States,johndoe@email.com1234567890,1/1/1975,180.0,72,24.4

In [54]:
patients[patients.address.duplicated()][['given_name', 'surname']]

    given_name     surname
29        Jake    Jakobsen
219         Mỹ       Quynh
229       John         Doe
230  Elisabeth     Knudsen
234    Martina   Tománková
237       John         Doe
242       John     O'Brian
244       John         Doe
249   Benjamin      Mehler
251       John         Doe
257        Jin        Kung
264   Wafiyyah      Asfour
269     Flavia  Fiorentino
277       John         Doe
278   Generosa       Cabán
282      Sandy      Taylor
286      Lewis        Webb
296        Chỉ         Lâm
502        Pat     Gersten

In [31]:
treatments.auralin.isnull().sum()

0

In [32]:
treatments.novodra.isnull().sum()

0

### Quality Issues
####  `patients` table
- zip code is a float not a string
- zip code has four digits sometimes
- Tim Neudorf height is 27 instead of 72 in
- full state names sometimes, abbreviations other times
- Dsvid Gustafsson
- Missing demographic information (address - contact columns)
- Erroneous datatypes (assigned sex, state, zip_code, and birthdate columns)
- multiple phone number formats
- Default John Doe data
- Multiple records for Jakebsen, Gersten, Taylor
- kgs instead of lbs for Zaitseva weight


#### `treatments` table
- missing HbA1c changes
- The letter 'u' in starting and ending doses for Auralin and Novodra
- lowercase given names and surnames
- missing records (280 instead of 350)
- Erroneous datatypes (auralin and novodra columns)
- Inaccurate HbA1c changes (4s mistaken as 9s)
- Nulls represented as dashed (-) in auralin and novodra

#### `adverse_reactions` table
- lowercase given names and surnames



### Tidiness Issues

#### `patients` table
- contact column should be split into phone and email columns separately
 
#### `treatments` table
- three variables in two columns (should be like treatment, start_dose, end_dose)
- `given_name` and `surname` being redundant (Add `id` column to connect with `patients` table)
 
 
#### `adverse_reactions` table
- `given_name` and `surname` being redundant
- some kind of verbose and should be joined with `treatments` table

In [68]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [69]:
treatments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  171 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB

In [70]:
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        34 non-null     object
 1   surname           34 non-null     object
 2   adverse_reaction  34 non-null     object
dtypes: object(3)
memory usage: 944.0+ bytes

In [76]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns

0           patient_id
1         assigned_sex
2           given_name
3              surname
4              address
5                 city
6                state
7             zip_code
8              country
9              contact
10           birthdate
11              weight
12              height
13                 bmi
14          given_name
15             surname
16             auralin
17             novodra
18         hba1c_start
19           hba1c_end
20        hba1c_change
21          given_name
22             surname
23    adverse_reaction
dtype: object

In [75]:
all_columns.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23    False
dtype: bool

In [73]:
all_columns[all_columns.duplicated()]

14    given_name
15       surname
21    given_name
22       surname
dtype: object